<!DOCTYPE html>
<html lang="pt_BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Collaborators</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="css/index.css" />
      <link rel="stylesheet" href="css/reasons.css" />
      <link rel="stylesheet" href="css/modal.css" />
      <link rel="stylesheet" href="css/ranking.css">
	</head>
	<body>
		<header id="header">
			<div class="header container">
				<h1 class="header_title">
					<span class="header_span">.</span>collaborators
				</h1>
				<p class="header_text">
					Avalie seu colega e colabore com o avanço da equipe
				</p>
			</div>
		</header>

      {{{ body }}}

      
	</body>
</html>