<header id='header'>
   <div class='header container'>
      <div class='header_title'>
         <img class="header_logo" src="/assets/logo_collaborators.png" alt="Logo do site">
         <h1><span class="header_span">.</span>collaborators</h1>
      </div>
      <p class='header_text'>
         Avalie seu colega e colabore com o avanço da equipe
      </p>
      <label for='switch' class='label_checkbox'>
         <input type='checkbox' id='switch' />
      </label>
   </div>
</header>

<main>
	<section class='login'>
		<div id='login_area' class='container'>
			<h2 class='login_title'>Login</h2>
			<form action="/login" method="POST">

				<div class='login_form__choose'>
					<p class='login_form__choose___title'>Qual a forma de acesso?</p>

					<div class='login_form__choose___options'>
						<input
							class='options_btn'
							type='radio'
							id='email'
							name='options'
							value='email'
							required
						/>E-mail
						<input
							class='options_btn'
							type='radio'
							id='register'
							name='options'
							value='register'
							required
						/>Matrícula
					</div>
				</div>

				<div class='login_form__user'>
					<label for='user'>Usuario</label>
					<input
						type='text'
						placeholder='Usuário'
						name='user'
						id='login_form__input'
						required
					/>
				</div>

				<div class='errorDiv'></div>

				<button type='submit' id='loginButton' class='login_form__btn'>
					<i class="icon-log-in"></i>
					login</button>
			</form>
		</div>
	</section>
</main>

<footer id='footer'>
	<section class='footer container'>
		<p>@2022 - <span class='header_span'>.</span> collaborators</p>
	</section>
</footer>

<script src='/js/darkMode.js'></script>
<script type='module' src='/js/login/login.js'></script>