<main>
	<section class='ranking container'>
         <!--<button
            class='login_form__btn login_form__btn2 ranking_btn'
            value='Like'
            id='like'
         >-->

		<div class='ranking_view active'>
			<h1 class='view_title'>Ranking Geral da Empresa</h1>
			<ul class='view_list'>
				<ul class='view_list__tops'>

				</ul>
			</ul>
		</div>
	</section>

	<a href='/reaction'>
		<div class='change_page'>
			<i class='icon-heart'></i>
		</div>
	</a>

	<a href='/ranking'>
		<div class='change_page'>
			<i class='icon-award'></i>
		</div>
	</a>

</main>

<footer id='footer'>
	<section class='footer container'>
		<p>@2022 - <span class='header_span'>.</span> collaborators</p>
	</section>
</footer>

<script src='js/darkMode.js'></script>
<script type="module" src='js/ranking.js'></script>
<script src='js/reasonList.js'></script>