<main>
	<section class='ranking container'>
         <!--<button
            class='login_form__btn login_form__btn2 ranking_btn'
            value='Like'
            id='like'
         >-->

		<div class='ranking_view active'>
			<div class="view_header">
            <h1 class='view_title'>Ranking Geral da Empresa</h1>
            <i class="icon-info"></i>
         </div>
			<ul class='view_list'>
				<ul class='view_list__tops'>

				</ul>
			</ul>
		</div>
	</section>

	<a href='/reaction'>
		<div class='change_page'>
			<i class='icon-heart'></i>
		</div>
	</a>

	<a href='/ranking'>
		<div class='change_page'>
			<i class='icon-award'></i>
		</div>
	</a>

   <div class='modal_wrapper'>
	<div class='modal'>
		<div class="modal_header">
         <h2>Regras de pontuação</h2>
         <i class="icon-x"></i>
      </div>
      <div class="modal_body">
         <table>
            <thead>
               <tr>
                  <th>Reação recebida</th>
                  <th>Pontuação da reação</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>Colaboração</td>
                  <td>1 ponto</td>
               </tr>
               <tr>
                  <td>Like</td>
                  <td>2 pontos</td>
               </tr>
               <tr>
                  <td>Orgulho</td>
                  <td>3 pontos</td>
               </tr>
               <tr>
                  <td>Excelente trabalho</td>
                  <td>4 pontos</td>
               </tr>
            </tbody>
         </table>
      </div>
	</div>
</div>

</main>

<footer id='footer'>
	<section class='footer container'>
		<p>@2022 - <span class='header_span'>.</span> collaborators</p>
	</section>
</footer>

<script src='js/darkMode.js'></script>
<script src='js/ranking/ranking.js'></script>
<script src="js/ranking/infoModal.js"></script>