<main>
	<section class="ranking container">
		<div class="ranking_menu">
			<h1>Escolha o ranking ao qual deseja visualizar a baixo</h1>
			<div class="ranking_options">
				<input type="button" class="login_form__btn" value="Like" />
				<input type="button" class="login_form__btn" value="Orgulho" />
				<input
					type="button"
					class="login_form__btn"
					value="Excelente trabalho"
				/>
				<input type="button" class="login_form__btn" value="Colaboração" />
			</div>
		</div>

		<div class="ranking_view">
			<h1 class="view_title">Ranking de quem mais recebeu ORGULHO</h1>
			<ul class="view_list">
				<li class="view_list__items">
					<h3>1º lugar - Guilherme</h3>
					<p class="view_list__items___total"></p>
					<p>
						Uma das frases enviadas:
						<span
							>Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Ex sint vitae et cupiditate? Itaque voluptatum</span
						>
					</p>
				</li>
				<li class="view_list__items">
					<h3>2º lugar - Iago</h3>
					<p class="view_list__items___total"></p>
					<p>
						Uma das frases enviadas:
						<span
							>Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Ex sint vitae et cupiditate? Itaque voluptatum</span
						>
					</p>
				</li>
				<li class="view_list__items">
					<h3>3º lugar - Amilcar</h3>
					<p class="view_list__items___total"></p>
					<p>
						Uma das frases enviadas:
						<span
							>Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Ex sint vitae et cupiditate? Itaque voluptatum</span
						>
					</p>
				</li>
			</ul>
		</div>
	</section>

	<div class="change_page container">
		<a class="login_form__btn next_page__btn" href="/reasons"
			>🡸 Voltar para reações</a
		>
	</div>
</main>
