* {
   margin: 0;
   padding: 0;
   list-style-type: none;
   box-sizing: 0;
}

:root {
   --logo-color:#3a3a3a;
   --text-color: #00635A;
   --text-color2: black;
   --text-color3: #5568E7;
   --button-color: #5568E7;
   --button-text: #FFF;
   --background-input: #F7F6FB;
   --background: #E8E2EC;
   --background-color1: #FFFFFF;
   --background-color2:#F7F6FB;
   --background-login:#FFFFFF;
   --green: #98FA62;
   --border: var(--background-input);
}

.dark_mode:root {
   --logo-color:#3a3a3a;
   --text-color: #22A1F5;
   --text-color2: var(--logo-color);
   --text-color3: #22A1F5;
   --button-color: #22A1F5;
   --button-text: #000;
   --background-input: var(--logo-color);
   --background: #35393b;
   --background-color1: #1B1D1E;
   --background-color2:#181A1B;
   --background-color3: #1c1e1f;
   --background-login: #181A1B;
   --green: #98FA62;
   --border: rgb(85, 85, 85);
}


.label_checkbox {
   position: absolute;
   right: 5vw;
   top: 4rem;
}

#switch {
   position: relative;
   width: 40px;
   height: 20px;
   -webkit-appearance: none;
   background: #c6c6c6;
   outline: none;
   border-radius: 20px;
   box-shadow: inset 0 0 5px rgba(0,0,0,.2);
   transition: .5s;
}

#switch:checked {
   background: #03a9f4;
}

#switch::before {
   content: '';
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 20px;
   top: 0;
   left: 0;
   background: #FFF;
   background-image: url('../assets/sun.svg');
   background-size: 16px;
   background-repeat: no-repeat;
   background-position: center center;
   padding: 2px;
   transform: scale(1.1);
   box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
   transition: .5s;
}

#switch:checked::before{
   left: 20px;
   background-image: url('../assets/moon.svg');
}

body {
   font-family: 'Poppins', sans-serif;
   margin: 2rem;
   background-color: var(--background);
}

header, footer {
   background-color: var(--background-color1);
}

header {
   border-top-right-radius: 2rem;
   border-top-left-radius: 2rem;
   position: relative;
}

footer {
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
}

.container {
   margin-right: 5vw;
   margin-left: 5vw;
}

/*=====  HEADER  =====*/
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 2rem;
}

.header_logo {
   width: 10rem;
   margin-left: -4.5vw;
}

.header_title {
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--logo-color);
}

.header_title h1 {
   margin-left: -1.2rem;
   font-size: 1.6rem;
}

.header_span {
   color: #5271FF;
}

.header_text {
   color: var(--text-color3);
   margin-right: 5vw;
}

/*=====  LOGIN  =====*/
.login {
   background-color: var(--background-color2);
   display: flex;
   justify-content: center;
   align-items: center;
}

#login_area {
   background: linear-gradient(225deg, rgba(255,255,255,1) 60%, rgba(85,104,231,1) 160%);
   padding: 2rem;

   margin: 4rem 0;

   border-radius: 2rem;
   border: 1px solid var(--border);

   color: var(--logo-color);

   width: 25vw;
   max-width: 400px;
   min-width: 250px;

   color: var(--text-color2);
}

html.dark_mode #login_area {
   background: var(--background-login);
   box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.76);
}

.login_title {
   margin-bottom: 1.6rem;
   font-size: 2rem;
}

.login_form__choose___title {
   margin-bottom: .4rem;
   font-size: 1.2rem;
}

.login_form__choose {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.options_btn {
   padding: .3rem;
   margin-right: 1rem;
}

.login_form__choose___options {
   display: flex;
   justify-content: center;
   align-items: center;
}

#register {
   margin-left: 3rem;
}

.login_form__user > label {
   visibility: hidden;
}

#login_form__input {
   width: calc(100%);
   padding: 1rem;

   border-radius: 0.4rem;

   border: none;
}

#login_form__input {
   background-color: var(--background-input);
}

#login_form__input::placeholder {
   font-weight: bold;
}

.login_form__btn {
   display: flex;
   justify-content: flex-start;
   align-items: center;

   margin-top: 2rem;
   width: 100%;
   padding: 1rem 0;

   color: var(--button-text);

   text-transform: uppercase;
   background-color: var(--button-color);
   border: none;
   border-radius: .5rem;

   transition: filter 200ms;
}

.login_form__btn2 {
   display: inline-block;
}

.login_form__btn:hover {
   filter: brightness(0.8);
   cursor: pointer;
}

#loginButton i {
   color: var(--button-text);
   font-size: 1.2rem;
   margin: 0 calc(50% - 4rem) 0 2rem;
}

.error {
   color: red;
   margin: 1rem 0 -.5rem 0;
}


/*=====  FOOTER  =====*/
.footer {
   display: flex;
   justify-content: center;
   align-items: center;

   font-size: 1.2rem;
   font-weight: bold;

   padding: 2rem 0;

   color: #585858;
}

@media screen and (max-width:1000px) {

   html {
      font-size: 87.5%;
   }

   .container {
      margin-right: 4vw;
      margin-left: 4vw;
   }

   .header_title {
      font-size: 1.8rem;
   }

   .header_text {
      width: 25vw;
      font-size: .9rem;
      text-align: justify;
   }
}