@import url('index.css');
@import url('reaction.css');

.modal-wrapper-logout.active {
	visibility: visible;
	opacity: 1;
}

.modal-wrapper-logout {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;

	background: rgba(4, 9, 17, 0.8);

	visibility: hidden;
	opacity: 0;
}

.modal-wrapper-logout .modal-logout {
	width: min(40rem, 75%);
	margin: auto;
	padding: 4rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 0.8rem;

	font-family: 'Poppins', sans-serif;
	text-align: center;

	background-color: var(--background-header-footer);
	color: var(--text-logo-grey);
}

.modal-wrapper-logout .modal-logout label {
   font-size: 1.6rem;
}

.modal-wrapper-logout .modal-logout form {
   width: 60%;
   display: flex;
   align-items: center;
   justify-content: space-around;

   margin-top: 2.8rem;
}

.modal-wrapper-logout .modal-logout input {
   cursor: pointer;
   padding: 1rem 2rem;
   background-color: var(--pink-blue);

   font-size: 1.2rem;

   border: none;
   border-radius: .4rem;
}

.modal-wrapper-logout .modal-logout input:first-child {
   background-color: transparent;
   color: var(--text-logo-grey);
}

.modal-wrapper-logout .modal-logout input + input {
   background-color: var(--error);
   width: 50%;
}