@import url('index.css');
@import url('reaction.css');

/*===== GERAL CONFIG MODAL =====*/
.modal-wrapper.active {
	visibility: visible;
	opacity: 1;
}

.modal-wrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;

	background: rgba(4, 9, 17, 0.8);

	visibility: hidden;
	opacity: 0;
}

.modal-wrapper .modal {
	width: min(40rem, 75%);
	margin: 7.5rem auto auto auto;
	padding: 4rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 0.8rem;

	font-family: 'Poppins', sans-serif;
	text-align: center;

	background-color: var(--background-header-footer);
	color: var(--text-logo-grey);
}

/*===== MODAL FORM =====*/
.modal-wrapper .modal form {
	width: 90%;
}

.modal-wrapper .modal h2 {
	font-size: 2.4rem;
	font-weight: 700;

	margin-bottom: 1.6rem;
}

button.reasons_btn {
	display: grid;
	grid-template-columns: 1fr 6fr;
	justify-items: center;
	align-items: center;
}

.modal-wrapper .modal i {
	font-size: 1rem;
	margin: 0 auto;
}

.modal-wrapper .modal .options {
	margin-top: 1.6rem;
   
	width: 100%;
   
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-wrapper .modal .buttons {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 3rem;
}

.modal-wrapper .modal .buttons .send_form {
	margin-top: 0;
	width: 50%;
}

.modal-wrapper .modal .buttons > .button {
   margin-right: 0.8rem;
	padding: 1.3rem 3.2rem;
	cursor: pointer;
}

.from_phrase {
	margin-top: 0.6rem;
}

#phrase {
	display: block;
	margin: 1rem auto 0 auto;
	padding: 1rem;

	width: 75%;
	height: 2rem;

	border-radius: 0.5rem;
	border: none;
	border: 1px solid var(--pink-blue);
	-webkit-appearance: none;
}

#phrase:focus {
	outline: none;
}

/*===== SELECT =====*/
.list-choice {
   width: 300px;
   margin: 1em auto;
   position: relative;
   cursor: pointer;
}

.list_one {
   z-index: 2;
}

.list_two {
   z-index: 1;
}

.list-choice input[type='radio'] {
   position: absolute;
   left: -9999px;
}

.list-choice-title {
   width: 100%;
   display: block;
   background: var(--pink-blue);
   text-align: center;
   padding: 0.27em 1em;
   box-sizing: border-box;
   color: var(--white-black);
   border-radius: 0.2em;
}

.list-choice:hover .list-choice-title {
   border-radius: 0.2em 0.2em 0 0;
}

.list-choice-objects label:nth-last-of-type(1) span {
   border-radius: 0 0 0.2em 0.2em;
}

.list-choice input[type='radio'] + span {
   color: var(--white-black);
   background: var(--pink-blue);
   padding: 0.22em .8em;
   display: block;
   text-align: center;
   box-sizing: border-box;
   cursor: pointer;
   width: 100%;
}

.list-choice-objects {
   position: absolute;
   top: 0;
   padding-top: 2.1em;
   box-sizing: border-box;
   width: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
   max-height: 0;
   transition: all 250ms ease;
}

.list-choice-objects::-webkit-scrollbar {
   width: 12px; /* width of the entire scrollbar */
}

.list-choice-objects::-webkit-scrollbar-track {
   background: var(--pink-blue); /* color of the tracking area */
}

.list-choice-objects::-webkit-scrollbar-thumb {
   background-color: white; /* color of the scroll thumb */
   border-radius: 20px; /* roundness of the scroll thumb */
   border: 3px solid var(--pink-blue); /* creates padding around scroll thumb */
}

.list-choice:hover .list-choice-objects input[type='radio'] + span {
   position: relative;
   top: 0;
   transition: all 250ms ease-in-out;
}

.list-choice:hover input[type='radio'] + span:hover {
   background: var(--orange);
}

.list-choice:hover input[type='radio']:checked + span:hover {
   background: var(--orange);
}

.list-choice input[type='radio']:checked + span {
   background: var(--orange);
   position: absolute;
   top: 0em;
   border-radius: 0.2em;
}

.list-choice:hover input[type='radio']:checked + span {
   border-radius: 0;
}

.list-choice:hover
   .list-choice-objects
   label:nth-last-of-type(1)
   input[type='radio']:checked
   + span {
   border-radius: 0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
   max-height: 620px;
}