@import url('index.css');
@import url('reaction.css');

.dark_mode:root {
   --green:#5568E7;
   --background-color3: white;
   --logo_color: black;
}

main {
   min-height: 38vh;
}

h1 {
   color: var(--logo-color);
}

.ranking {
   padding: 2rem 0;
}

.ranking_menu h1 {
   font-size: 2rem;
}

.ranking_options {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 2rem;

   margin: 0 0 0 2rem;
}

.ranking_options > input {
   background-color: var(--green);
}

.ranking_view {
   display: none;
   visibility: hidden;
   margin: 0 0 0 2rem;
}

.ranking_view.active {
   display: block;
   visibility: visible;
}

.view_title {
   margin-bottom: 2rem;
   font-size: 1.6rem;

   color: var(--logo-color);
}

.ranking_view {
   margin-top: 2rem;
   padding: 1.2rem;

   background-color: var(--background-color3);
   box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.76);
   border: 1px solid var(--border);
   border-radius: .2rem;
}

.view_list {
   color: var(--text-color);
}

.view_list__tops {
   display: flex;
}

.view_list__itemstop {
   display: grid;
}

.view_list__itemstop h3::before {
   content: '';
}

.view_list__items h3::before {
   content: '|';
   color: var(--green);
   margin-right: 1rem;
}

.view_list__items span{
   color: var(--green);
   font-weight: bold;
}

.view_list__items + li {
   margin-top: 1.5rem;
}

.view_list__items___img {
   width: 4rem;
}

.change_page {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.change_page .next_page__btn {
   margin-top: 0;
   width: 12vw;
   padding: .5rem .4rem;

   display: flex;
   justify-content: center;

   font-size: .7rem;

   margin-bottom: 2rem;

   text-decoration: none;
   color: black;

   display: flex;
   justify-content: center;
   align-items: center;
}