@import url('index.css');
@import url('reaction.css');

:root {
   --green:#5568E7;
   --background-color3: white;
   --logo_color: black;
}

main {
   min-height: 38vh;
}

h1 {
   color: var(--logo-color);
}

.ranking {
   padding: 2rem 0;
}

.ranking_menu h1 {
   font-size: 2rem;
}

.ranking_options {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 2rem;

   margin: 0 0 0 2rem;
}

.ranking_options > input {
   background-color: var(--green);
}

.ranking_view {
   display: none;
   visibility: hidden;
   margin: 0 0 0 2rem;
}

.ranking_view.active {
   display: block;
   visibility: visible;
}

.view_title {
   margin-bottom: 2rem;
   font-size: 1.6rem;

   color: var(--logo-color);
}

.ranking_view {
   margin-top: 2rem;
   padding: 1.2rem;

   background-color: var(--background-color3);
   box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.76);
   border: 1px solid var(--border);
   border-radius: .2rem;
}

.ranking_btn {
   display: flex;
   justify-content: center;
   align-items: center;
}

.ranking_btn i {
   font-size: 1rem;
   margin: 0 2rem 0 -2rem;
}

.ranking_btn p {
   max-width: 5rem;
}

.view_list {
   color: var(--text-color);
}

.view_list div {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.view_list__tops {
   display: flex;
   justify-content: space-between;
   align-items: center;

   border: 2px solid var(--border);
   padding: 1rem;

   background-color: var(--background-color2);

   width: 95%;
   height: 15rem;
   margin: 0 auto 3.2rem auto;
}

.view_list__tops .top1 {
   order: 2;
   margin-top: -9rem;

   background-color: rgba(255, 185, 87, 0.75);
}

.view_list__tops .top2 {
   order: 1;
   margin-top: 1.5rem;

   background-color: rgba(210, 209, 214, 0.75);
}

.view_list__tops .top3 {
   order: 3;
   margin-top: 8rem;

   background-color: rgba(206, 116, 48, 0.75);
}

.top1, .top2, .top3 {
   box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.25);
   padding: .5rem;
}


.view_list__itemstop {
   display: flex;
   justify-content: center;
   align-items: center;

   color: var(--text-color4);

   padding: .8rem;

   border-radius: .5rem;
}

.view_list__itemstop h3 {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 11rem;
}

.view_list__itemstop span {
   font-size: 1.5rem;
}

.view_list__itemstop h3::before {
   content: '';
}

.view_list__items h3::before {
   content: '|';
   color: var(--green);
   margin-right: 1rem;
}

.view_list__items span, .view_list__itemstop span {
   color: var(--green);
   font-weight: bold;
}

.view_list__items + li {
   margin-top: 1.5rem;
}

.view_list__items___img {
   width: 4rem;
}

.change_page {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.change_page .next_page__btn {
   margin-top: 0;
   width: 12vw;
   padding: .5rem .4rem;

   display: flex;
   justify-content: center;

   font-size: .7rem;

   margin-bottom: 2rem;

   text-decoration: none;
   color: black;

   display: flex;
   justify-content: center;
   align-items: center;
}