@import url('index.css');

main {
   background-color: var(--background-color2);
   position: relative;
}

.received {
   padding: 2rem 0;
}

.received_header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 2rem;
}

.received_title {
   color: var(--logo-color);
   font-size: 2rem;
}

.received_list {
   margin: 0 0 0 2rem;
}

.received_header .received_btn {
   width: 20vw;

   background-color: var(--green);

   margin-top: 0;
}

.received_list__items {
   color: var(--text-color);

   padding: 1rem;

   background-color: var(--background-color3);
}

.received_list__items > h1 {
   color: #9ddbd3;
   margin-bottom: .6rem;
}

.received_list__items > p {
   font-size: .9rem;
}

.received_list__items + li {
   margin-top: 1rem;
}

.change_page {
   position: absolute;
   top: 10rem;
   left: 0;
   float: left;
   width: 60px;
   height: 60px;
   shape-outside: circle(50% at 30%);
   clip-path: circle(50% at 30%);
   background: var(--text-color3);

   transition: 200ms;
}

a + a .change_page {
   top: 16rem;
}

.change_page__img {
   width: 2rem;

   margin-left: .3rem;
   margin-bottom: .2rem;

   transition: 200ms;
}

a[href="/reaction"] .change_page img {
   width: 2.1rem;
}

.change_page:hover {
   cursor: pointer;
   clip-path: circle(50% at 50%);
}

.change_page:active {
   filter: brightness(0.5);
}

.change_page:hover .change_page__img {
   margin-left: 1rem;
}