@import url('index.css');

:root {
   --green:#5568E7;
}

main {
   background-color: var(--background-reaction);
   position: relative;
}

/*===== REACTION RECEIVED AREA =====*/
.received {
   padding: 2rem 0;
}

.received_header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 2rem;
}

.received_title {
   color: var(--text-logo-grey);
   font-size: 2rem;
}

.received_list {
   margin: 0 0 0 2rem;
}

.received_header .received_btn {
   display: flex;
   justify-content: flex-start;
   align-items: center;

   width: 20vw;

   background-color: var(--green);

   margin-top: 0;
}

.received_btn i {
   color: var(--white-black);
   font-size: 1.2rem;

   margin: 0 2.5rem 0 1rem;
}

.received_list__items {
   color: var(--reaction-text);

   padding: 1rem;

   background-color: var(--background-reaction-item);
}

.received_list__items > h1 {
   color: #9ddbd3;
   filter: brightness(0.9);
   margin-bottom: .6rem;
}

.received_list__items > p {
   font-size: .9rem;
}

.received_list__items + li {
   margin-top: 1rem;
}

/*===== BUTTONS TO CHANGE PAGE =====*/
.change_page {
   position: absolute;
   top: 10rem;
   left: 0;
   float: left;
   width: 60px;
   height: 60px;
   shape-outside: circle(50% at 30%);
   clip-path: circle(50% at 30%);
   background: var(--pink-blue);

   transition: 200ms;
}

form + form .change_page {
   top: 16rem;
}

form + form + form .change_page {
   top: 22rem;
}

.change_page__img {
   width: 2rem;

   margin-left: .3rem;
   margin-bottom: .2rem;

   transition: 200ms;
}

.change_page i {
   color: var(--white-black);
   font-size: 2rem;
   margin: 0 5%;

   transition: 200ms;
}

.change_page:hover i {
   margin-left: 1rem;
}

.change_page:hover {
   cursor: pointer;
   clip-path: circle(50% at 50%);

   filter: brightness(0.9);
}

.change_page:active {
   filter: brightness(0.5);
}

.change_page:hover .change_page__img {
   margin-left: 1rem;
}